.main {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #80ff00;
  height: 100%;
}

.title {
  font-size: calc(40px + 2vmin);
  background-color: #828282;
}

tr:nth-child(even) {
  background-color: rgba(0, 255, 0, 0.75);
  color: #000000;
  font-weight: bold;
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000000;
  font-weight: bold;
}

tr.header-row {
  background-color: #80ff00;
  font-size: calc(10px + 2vmin);
  color: black;
}

tr {
  max-height: 5px;
}

div:not(.public):not(.public-inner):not(.rw-combobox):not(.rw-number-picker):not(.rw-widget-container):not(.rw-popup-container):not(.rw-popup):not(.rw-list):not(.rw-list-option) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.rw-widget-container {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.console-font {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.style-button {
  height: 1.4em;
  font-size: 1.5em;
  width: 100%;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

tr.highlight-row:hover {
   background-color: rgba(255, 255, 255, .5);
}

a {
  color: black;
  text-decoration: none;
}


div.public {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

div.default-bg {
  background-image: url('images/purple_nebula_1.png');
}

div.public-inner {
  margin: 50px;
  background-color: transparent;
}

table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-spacing: 0px;
}